---
layout: default
---

<div id="main" class="col-sm-8">
  <div id="homeid"">
        <!--
        <h1>Welcome to the Chai's Lab</h1>
        -->

        {{ content }}
  </div>


 <div id="highpub" >
        {% assign number_printed = 0 %}
	 <h3>Highlighted Publications</h3>

        {% for publi in site.data.publist %}
        <div class="row">

      	<img src="{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ publi.image }}" class="img-responsive" width="20%" style="float: left" />
          <p><a class="pub1" href="{{ publi.link.url }}">{{ publi.title }}</a></p>
          <p><a class="pub2"> {{ publi.authors }} </a></p>
          <a class="pub2"> {{ publi.link.display }} </a>
        </div>
        {% endfor %}

 </div>
 
</div>


  <div id="newsid" class="col-sm-4" >
        {% include news.html %}
  </div>
  
<p> &nbsp; </p>
  
