---
layout: default
---
<!--

<div id="research" class="col-sm-12">


  {% assign number_printed = 0 %}

  <h3>Publications</h3>

  {% for publi in site.data.research %}
    <div id="publist" class="col-sm-12">

      <p><a class="pub1" href="{{ publi.link.url }}">{{ publi.title }}</a></p>
      <p>
        <a class="pub2"> {{ publi.authors }} </a>
        <a class="pub2"> {{ publi.years }} </a>
      </p>
      <a class="pub2"> {{ publi.link.display }} </a>

    </div>

  {% endfor %}
</div>

-->
<div id="publications" class="col-sm-12">
  {{ content }}
</div>
